/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-may-2016, 23:24:27
    Author     : LcBc
*/


/*body{
  //  font-family: 'Open Sans', sans-serif;
}*/

.Text{
    font-size: 16px;

}

.customLabel{
    color: #A82773 !important;
    font-weight: bold;
}

.fondo {
    background-color: white

}

.initButton {
    float: left;
    border: 2px solid #c7c7c7;
    padding: 10px 15px;
    border-radius: 30px;
    color: #a82773;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    display: block;
    white-space: nowrap;

}

.cierreSesion {
    margin-left: 50px;

}


.ContenedorBoxitStore{
    display: inline-block;
    float: left;
    width: 33%;
    height: 10%;
}

.ContenedorBoxitStore a {
    border: 2px solid #c7c7c7;
    padding: 10px 10px;
    border-radius: 30px;


}

.ContenedorBoxitStore a img{
        width: 70%;
    }