    <div  class="row boxitBar">

        <div class="col-md-2 carAvatar noppading">
            <br>
            <div class="Avatar"></div>
            <span class="Name">Hi, {{UserName}}</span>
        </div>

        <div class="form-group col-md-2 noppading">
            <br>
            <select class="form-control"  ng-init="initIndex()" ng-model="index"
                    ng-options="index.attributes.SearchIndex for index in indexs">
            </select>
        </div>    
        <div class="form-group col-md-5 noppading">
            <br>
            <input class="form-control" type="text" name="find" ng-keypress="onKeyEnterPress($event)"
                   ng-model="keyword">
            <!--                <button   ng-click="doSearch()"></button>-->

        </div>
        <div class="col-md-1 noppading">
            <br>
            <button type="button" class="btn btn-info" ng-click="doSearch()">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
        <div class=" col-md-1 noppading">
            <br>
            <a class="cart"
               ng-click="showShoppingCar()">
                <span id="cartNumber">{{carNumber}}</span>Cart
            </a>
        </div>

    </div>

    <div class="BoxitStoreContainer" ng-init="firstSearch()">
        <div class="row">
            <div class="Soon Content" ng-show="showImage" style="background-color: #FAFAFA;">
                <div class="SoonContainer ContentContainer MaxWidth">
                    <div class="Image">
                        <img src="img/amazonbanner.png" alt="">
                    </div>
                </div>
            </div>
            <div ng-show="showCar">
                <div class="col-lg-12">
                    <div style="width: 250px;height: 270px;padding-top: 10px" class="col-sm-10" ng-repeat="item in Items">
                        <a ng-click="viewItem(item)"><img style="max-width: 100%;height: 180px"
                                                          class="img-responsive img-rounded center-block linkCarrito"
                                                          title="{{item.Attributes.Title}}"
                                                          src="{{item.Image.ImageUrl}}"/></a>
                        <a ng-click="viewItem(item)"><p class="ItemCar linkCarrito">{{item.Attributes.Title}}</p></a>
                        <span style="color: #333333;font-weight: bold">{{item.Offers.Offer.OfferListing.Price.FormattedPrice}}</span>
                        <br>
                        <button class="ButtonCar" ng-click="addToCar(item.ItemId)">Add to Cart <span
                                class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div ng-show="showCarMessage">
                <div class="col-lg-12">
                    <h2 class="text-center">No hay Resultados</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-5">
                <uib-pagination ng-show="showPagination" total-items="totalItems" ng-model="currentPage"
                                ng-change="pageChanged()"></uib-pagination>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
</div>
<div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
    <div class="BannerSobresalienteContainer ContentContainer MaxWidth">
        <div class="Title">
            <img style="width: 290px;" src="img/bien_cool.png" alt="">
        </div>
        <div class="Description">
            <div class="Text">
                Registrate y realiza tu compra ya!
            </div>
            <a href="#">
                <div class="Button WithBackground">REGISTRARME</div>
            </a>
        </div>
        <img src="img/foto-Banner_5.png" style="">
    </div>
</div>
<div class="AlwaysClose Content">
    <div class="MainTitle">
        Siempre Cerca
    </div>
    <div class="Description">
        <div class="Text">
            Regístrate y elige el boxit más cercano a tu casa u oficina
        </div>
        <a href="#">
            <div class="Button WithBackground">CONSIGUE EL BOXIT MÁS CERCANO</div>
        </a>
    </div>
</div>
<div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
    <div class="BannerSobresalienteContainer ContentContainer MaxWidth">
        <div class="Title">
            ADEMAS DE TODO; <span>BOXIT</span>
            <br>
            ¡ES BIEN COOL!
        </div>
        <img src="img/foto-Banner_2.png">
    </div>
</div>