<script src="js/controllers/userMenuController.js"></script>
<script src="js/services/userService.js" type="text/javascript"></script>
<script src="../js/controllers/editarPerfilController.js" type="text/javascript"></script>

<div class="row">
    <div class ="col-sm-2"></div>
    <div class="col-sm-6">
        <h3>Informacion Perfil</h3>
        <hr>
        <div>
            Nombres:
            <div class="FieldContent">
                <input type="text" ng-model="username">
            </div>
        </div>
        <div>
            Apellidos:

            <div class="FieldContent">
                <input type="text" ng-model="lastname">
            </div>
        </div>
        <div>
            Telefono:

            <div class="FieldContent">
                <input type="text" ng-model="UserPhone">
            </div>
        </div>
        <div>
            Fecha de nacimiento:
            <div class="FieldContent">
                <input style="border: 2px solid #cdcdcd;float: left" uib-datepicker-popup="{{format}}" ng-model="UserBirthdate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                <!--&lt;!&ndash;ng-options="anho for anho in anhosDeNacimiento"&ndash;&gt;-->
                <!--<option value="">Año</option>-->
               
                <button type="button" style="float: right" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>
        </div>
        <br>
        <br>
        <div>
            Genero:
            <div class="FieldContent">
                <select name="" id="" ng-model="UserGender">
                    <option value="">Seleccione un Genero</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
        </div>
        <div>
            <div class="Submit">
                <!--<input type="submit"  value="REGISTRARME">-->
                <button class="Button WithBackground" ng-click="Update()">Modificar Perfil</button>
            </div>
        </div>
    </div>
</div>