 <div class="MainBanner Content">
        <div class="MainBannerContainer ContentContainer MaxWidth Soon">
            <div class="MainTitle">
                Enviar un paquete (Panamá)
            </div>
            <div class="Description">
                <div class="Text">
                    Somos tu opción más práctica, factible y fácil para realizar envíos dentro del territorio nacional.
                    <br>
                    Pronto <span>Boxit</span> revolucionará el mercado E-commerce, sin espera ni limitaciones. 
                    <br>
                    Su paquete donde y cuando lo desee.

                </div>
            </div>
            <div class="Image" style="text-align: center;margin-bottom: 20px;">
                <img src="img/PaqueteEnviar.gif" alt="">
            </div>
            <div class="BoxReadMore">
                <div class="Image">
                    <img src="img/texto_enviar_paquete.png" alt="">
                </div>
                <div class="ReadMore">
                    <a href="#">Más Info</a>
                </div>
            </div>
            <div class="Logos">
                <div class="Right">
                    <img src="img/Slogan.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="PageDescription">
        <div class="MainDescription MaxWidth" style="margin-bottom: 0;">
            <div class="Title">Documentos</div>
            <div class="Description">
                <div class="Text">
                    ¿No puedes viajar?
                    <br>
                    <br>
                    ¿Dejar un documento es imposible por el tráfico?
                    <br>
                    <br>
                    Con <span>Boxit</span> es muy sencillo, seguro y rápido entregar encomiendas, solo debes estar suscrito a nuestra plataforma y elegir la ubicación que mejor se adapte a ti y a tu tiempo, entregar paquetes y documentos con destinatarios definidos. 
                    <br>
                    El costo del servicio será cancelado por quien envía el paquete. <span>MUY PRONTO!!!</span>
                </div>
            </div>
            <div class="Title">Regalos sorpresa</div>
            <div class="Description">
                <div class="Text">
                    ¿Eres de las personas que les gusta sorprender? ¿Te gustaría ser sorprendido? 
                    <br>
                    <br>
                    <span>Boxit</span> es amor, diversión y felicidad... Te damos la oportunidad de sorprender a tus seres queridos o a ese amor platónico, serás amigo secreto perfecto. 
                    <br>
                    <br>
                    Sorprende con detalles, flores, chocolates, ropa o cualquier presente según el tamaño del locker. 
                    <br>
                    <br>
                    El costo del servicio se carga a quien envía el paquete. <span>MUY PRONTO!!!</span>
                </div>
            </div>
            <img src="img/envia_tu_paquete.png" style="right: -120px;" alt="">
        </div>
    </div>
    <div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
        <div class="BannerSobresalienteContainer ContentContainer MaxWidth">
            <div class="Title">
                <img src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" alt="">
            </div>
            <div class="Description">
                <div class="Text">
                    Registrate y realiza tu compra ya!
                </div>
                <a href="Registro.html">
                    <div class="Button WithBackground">REGISTRARME</div>
                </a>
            </div>
            <img src="img/foto-Banner_2_blue.png" style="">
        </div>
    </div>
    <div class="AlwaysClose Content">
        <div class="MainTitle">
            Siempre cerca
        </div>
        <div class="Description">
            <div class="Text">
                Regístrate y elige el <span>BOXIT</span> más cercano a tu casa u oficina
            </div>
            <a href="Registro.html">
                <div class="Button WithBackground">CONSIGUE EL BOXIT MÁS CERCANO</div>
            </a>
        </div>
    </div>
    <div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
        <div class="BannerSobresalienteContainer ContentContainer MaxWidth">
            <div class="Title">
                ADEMÁS DE TODO; <span>BOXIT</span>
                <br>
                ¡ES BIEN COOL!
            </div>
            <img src="img/foto-Banner_4.png">
        </div>
    </div>

