   <div class="BarHeader Content">
        <div class="BarHeaderContainer ContentContainer MaxWidth">
            <div class="Text">
                <span>Preguntas más consultadas</span>
            </div>
            <img src="img/image_headerbar_1.png" alt="">
        </div>
    </div>
    <div class="ContentContainer MaxWidthData">
        <!--<div class="MainTitle" style="text-align: left; padding: 0;     padding-top: 50px;">
                Preguntas mas consultadas
        </div>-->
        <div class="FAQS">
            <div class="FAQ Selected">
                <div class="Title">
                    ¿Qué es Boxit?
                </div>
                <div class="Text">
                    Es un sistema de entrega de paquetes automatizado que permite retirar tus paquetes de compras online donde y cuando quieras, de manera privada 24/7 de la semana y los 365 días del año.
                </div>
            </div>
            <div class="FAQ">
                <div class="Title">
                    ¿Quién puede utilizar Boxit?
                </div>
                <div class="Text">
                    Toda persona que posea tarjeta de crédito y dinero en efectivo. 
                    <br><br>
                    Está diseñado para retirar tus compras online en nuestros locales afiliados y tiendas en Estados Unidos.
                    <br><br>
                    ¿No tienes tarjeta de crédito? próximamente podrás hacer tus compras online en Amazon y pagar en efectivo mediante a <span>BOXIT</span>.

                </div>
            </div>
            <div class="FAQ">
                <div class="Title">
                    ¿Cómo funciona?
                </div>
                <div class="Text">
                    <ul>
                        <li>Es simple, fácil y rápido.</li>
                        <li>Regístrate ingresando tus datos y correo electrónico.</li>
                        <li>Haz tu compra Online. (Efectivo o tarjeta de crédito).</li>
                        <li>Si tu compras es en efectivo por Amazon paga en nuestras plataformas y/o afiliados, recibirás una confirmación vía mail indicando que tu paquete está en el Boxit de tu elección y recibirás un código único de retiro.</li>
                        <li>Ingresa tu código único de retiro en el Boxit.</li>
                        <li>Retira y sé feliz… <span>Boxit Delivering Happiness</span></li>
                    </ul>
                </div>
            </div>
            <div class="FAQ">
                <div class="Title">
                    ¿Debo tener una cuenta de email?
                </div>
                <div class="Text">
                    Sí, es necesario que cuentes con una cuenta de correo electrónico para recibir el código de retiro único de tus compras y las notificaciones de tracking de los paquetes.
                </div>
            </div>
            <div class="FAQ">
                <div class="Title">
                    ¿Cuál es el horario de atención o entregas de paquetes?
                </div>
                <div class="Text">
                    Nuestra plataforma está disponible las 24 horas del día, los 365 días del año. Usted es dueño de su tiempo y privacidad en la compra.
                </div>
            </div>
            <div class="FAQ">
                <div class="Title">
                    ¿Cuantos días permanecen los paquetes en el Boxit?
                </div>
                <div class="Text">
                    La permanencia de tus paquetes en <span>BOXIT</span> es de 48 horas luego de recibir la notificación a arribo vía email. Una vez transcurrido ese tiempo el paquete será retirado y llevado a nuestra sede operativa donde dependiendo el caso se deba pagar un recargo por movimiento y acarreo.
                </div>
            </div>
            <div class="FAQ">
                <div class="Title">
                    ¿Cómo registrarme?
                </div>
                <div class="Text">
                    <ul>
                        <li>Dirígete a www.myboxit.com</li>
                        <li>Rellena los espacios en blanco con la información solicitada.</li>
                        <li>Selecciona el Boxit más cercano a tu hogar u oficina.</li>
                        <li>Presiona aceptar.</li>
                        <li>Ingresa a tu correo electrónico y confirma tu cuenta.</li>
                        <li>Recibirás tu dirección en Miami, la cual debes usar en todas tus direcciones de compras Online.</li>
                    </ul>
                    <span>BIENVENIDO A BOXIT</span>
                    <br>
                    <span>DELIVERING HAPPINESS</span>
                </div>
            </div>
            <div class="FAQ">
                <div class="Title">
                    ¿Pasos para comprar con tarjeta de crédito?
                </div>
                <div class="Text">
                    <ul>
                        <li>Abrir www.myboxit.com y crea tu usuario con dirección PO BOX en Miami.</li>
                        <li>Compra en tu página online favorita.</li>
                        <li>Ingresa tu dirección física PO BOX Miami, recibida en tu email.</li>
                        <li>Completa tu compra.</li>
                        <li>Anuncia tu paquete para ayudarte con el tracking</li>
                    </ul>
                </div>
            </div>
            <div class="FAQ">
                <div class="Title">
                    ¿Pasos para comprar con efectivo (aplica exclusivamente para Amazon)?
                </div>
                <div class="Text">
                    <ul>
                        <li>Ir a www.myboxit.com crea tu usuario con dirección PO BOX en Miami.</li>
                        <li>Haz logging con Amazon desde my www.boxit.com o utiliza tus credenciales de usuario.</li>
                        <li>Haz click en Boxit store.</li>
                        <li>Selecciona tu producto a comprar.</li>
                        <li>Selecciona Checkout.</li>
                        <li>Haz click en compra en efectivo.</li>
                        <li>Revisa correo electrónico con tu número de orden (también lo puedes ver en tu cuenta de usuario).</li>
                        <li>Paga en Boxit directamente o en cualquiera de nuestros afiliados; nosotros hacemos el resto.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
