<div class="Language">
    <div class="SelectLanguage">
        <div class="Text">Español (ESP)</div>
        <div class="Arrow"></div>
        <div class="Languages">
            <div class="Language Selected" id="ESP" >Español (ESP)</div>
            <div class="Language" id="ING">Ingles (ING)</div>
            <div class="Language" id="FRA">Frances (FRA)</div>
        </div>
    </div>
</div>
<div class="Logo">
    <a href="../index.html">
        <img src="../img/logo-boxit_Menu.png" alt="Boxit" title="Boxit">
    </a>
</div>
<div class="Menu">
    <ul>
        <li>
            <a href="#">SERVICIOS</a>
            <div class="SubMenu">
                <div class="SubMenuContainer">
                    <div class="Arrow">
                        <div></div>
                    </div>
                    <ul>
                        <li><a href="../Nosotros.html">¿Qué es Boxit?</a></li>
                        <li><a href="../Retiro.html">Retiro de paquete</a></li>
                        <li><a href="../Devolucion.html">Devolución de compra</a></li>
                        <li><a href="../Enviar.html">Enviar un paquete</a></li>
                        <li><a href="../Pagoservicio.html">Paga tus servicios</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">PRECIOS</a>
        </li>
        <li>
            <a href="../FAQ.html">PREGUNTAS FRECUENTES</a>
        </li>
        <li>
            <a href="#">MY BOXIT STORE AMAZON</a>
        </li>
    </ul>
</div>
<div class="UserAccountOptions">
    <a href="../Iniciarsesion.html">
        <div class="Button">INICIA SESIÓN</div>
    </a>
    <a href="../Registro.html">
        <div class="Button WithBackground">REGÍSTRATE</div>
    </a>
</div>