<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="MainBanner Content" style="height: 530px;">
    <div class="MainBannerContainer ContentContainer MaxWidth">
        <div class="Banners Rotator" autoplay>
            <div class="Banner">
                <div class="Left">
                    <div class="Title">
                        <img src="img/Slogan.png" alt="Nuestro Slogan" title="Nuestro Slogan">
                    </div>
                    <div class="Description">
                        <div class="Text">
                            La opción ideal para realizar tus compras online y retirar paquetes fácilmente.
                            <br>
                            24 horas al día, 7 días a la semana.
                        </div>
                        <a href="Nosotros.html">
                            <div class="Button WithBackground">MÁS INFO</div>
                        </a>
                    </div>
                </div>
                <div class="Right" style="background: url(img/imgbanner.png) no-repeat; background-position-y: 100%;"></div>
            </div>
            <div class="Banner">
                <div class="Left">
                    <div class="Title">
                        <img src="img/imgbanner_2_title.png" alt="Nuestro Slogan" title="Nuestro Slogan">
                    </div>
                    <div class="Description">
                        <div class="Text">
                            Cancela en efectivo tus compras por Amazon.
                            <br>
                            Un servicio seguro, rápido y de calidad.
                        </div>
                        <a href="Nosotros.html">
                            <div class="Button WithBackground">MÁS INFO</div>
                        </a>
                    </div>
                </div>
                <div class="Right" style="background: url(img/imgbanner_2.png) no-repeat; background-position-y: 100%;"></div>
            </div>
            <div class="Banner">
                <div class="Left">
                    <div class="Title">
                        <img src="img/imgbanner_3_title.png" alt="Nuestro Slogan" title="Nuestro Slogan">
                    </div>
                    <div class="Description">
                        <div class="Text">
                            Puntos de autoservicio ubicados estratégicamente.
                            <br>
                            Vive la experiencia <span>Boxit</span> los 365 días del año.
                            <br>
                        </div>
                        <a href="Nosotros.html">
                            <div class="Button WithBackground">MÁS INFO</div>
                        </a>
                    </div>
                </div>
                <div class="Right" style="background: url(img/imgbanner_3.png) no-repeat; background-position-y: 100%;"></div>
            </div>
            <div class="Banner">
                <div class="Left">
                    <div class="Title">
                        <img src="img/imgbanner_4_title.png" alt="Nuestro Slogan" title="Nuestro Slogan">
                    </div>
                    <div class="Description">
                        <div class="Text">
                            Regístrate, ingresa tus datos, confirma tu dirección de correo, elige el <span>Boxit</span> más cercano y comienza a disfrutar de nuestros servicios.
                        </div>
                        <a href="Nosotros.html">
                            <div class="Button WithBackground">MÁS INFO</div>
                        </a>
                    </div>
                </div>
                <div class="Right" style="background: url(img/imgbanner_4.png) no-repeat; background-position-y: 100%;"></div>
            </div>
            <div class="Banner">
                <div class="Left">
                    <div class="Title">
                        <img src="img/imgbanner_5_title.png" alt="Nuestro Slogan" title="Nuestro Slogan">
                    </div>
                    <div class="Description">
                        <div class="Text">
                            Ahorra dinero en costos de envíos.
                            <br>
                            Tarifas competitivas, entrega garantizada.
                        </div>
                        <a href="Nosotros.html">
                            <div class="Button WithBackground">MÁS INFO</div>
                        </a>
                    </div>
                </div>
                <div class="Right" style="background: url(img/imgbanner_5.png) no-repeat; background-position-y: 100%;"></div>
            </div>
            <!--<div class="Banner">
                    <div class="Left">
                            <div class="Title">
                                    <img src="img/imgbanner_6_title.png" alt="Nuestro Slogan" title="Nuestro Slogan">
                            </div>
                            <div class="Description">
                                    <div class="Text">
                                            Boxit es un servicio fácil y rápido; regístrese, confirma tu dirección de correo, elije tu boxit más cercano y empieza a disfrutar del servicio
                                    </div>
                                    <a href="Registro.html">
                                            <div class="Button WithBackground">REGÍSTRATE</div>
                                    </a>
                            </div>
                    </div>
                    <div class="Right" style="background: url(img/imgbanner_6.png) no-repeat; background-position-y: 100%;"></div>
            </div>-->
            <div class="Banner">
                <div class="Left">
                    <div class="Title">
                        <img src="img/imgbanner_7_title.png" alt="Nuestro Slogan" title="Nuestro Slogan">
                    </div>
                    <div class="Description">
                        <div class="Text">
                            Hacer shopping online y de una forma dinámica.
                            <br>
                            Cumplir tu sueño seleccionando el producto que tanto necesitas.
                        </div>
                        <a ui-sref="registro">
                            <div class="Button WithBackground">REGÍSTRATE</div>
                        </a>
                    </div>
                </div>
                <div class="Right" style="background: url(img/imgbanner_7.png) no-repeat; background-position-y: 100%;"></div>
            </div>
            <div class="BannerSelecters">
                <div class="Banner WidthBackground"></div>
                <div class="Banner WidthBackground"></div>
                <div class="Banner WidthBackground"></div>
                <div class="Banner WidthBackground"></div>
                <div class="Banner WidthBackground"></div>
                <div class="Banner WidthBackground"></div>
            </div>
        </div>
    </div>
</div>
<div class="MainTitle MaxWidth">
    ¿Cómo funciona Boxit?
</div>
<div class="Steps MaxWidth">
    <div class="Step">
        <div class="Image">
            <img src="img/StepsRegistrate.gif" alt="Registrate" title="Registrate">
        </div>
        <div class="Description">
            <div class="Title">Regístrate</div>
            <div class="Text">
                Entra en myboxit.com e ingresa tus datos.
                <br>
                Te asignaremos una dirección de casillero.
            </div>
            <div class="Button WithoutBorder">
                <a ui-sref="registro">
                    CLICK AQUÍ
                </a>
            </div>
        </div>
    </div>
    <div class="Step">
        <div class="Image">
            <img src="img/StepsTuCompra.gif" alt="TuCompra" title="TuCompra">
        </div>
        <div class="Description">
            <div class="Title">Haz tu compra online</div>
            <div class="Text">
                Una vez seleccionados tus artículos de preferencia finaliza tu compra ingresando la dirección de casillero asignada.
            </div>
        </div>
    </div>
    <div class="Step">
        <div class="Image">
            <img src="img/StepsTuBoxit.gif" alt="TuBoxit" title="TuBoxit">
        </div>
        <div class="Description">
            <div class="Title">Elige tu Boxit</div>
            <div class="Text">
                Colocamos el paquete en el punto de autoservicio de tu preferencia.
                <br>
                Ahorra tiempo y dinero.
            </div>
        </div>
    </div>
    <div class="Step">
        <div class="Image">
            <img src="img/StepsNotificacion.gif" alt="Notificacion" title="Notificacion">
        </div>
        <div class="Description">
            <div class="Title">Recibirás una notificación</div>
            <div class="Text">
                Al llegar tu paquete enviaremos un email con el código de retiro para ingresar en el casillero Boxit.
            </div>
        </div>
    </div>
    <div class="Step">
        <div class="Image">
            <img src="img/StepsRetira.gif" style="height: 100px;" alt="Retira" title="Retira">
        </div>
        <div class="Description">
            <div class="Title">Retira</div>
            <div class="Text">
                Ingresa el código único de retiro y disfruta de tu experiencia de compra.
            </div>
        </div>
    </div>
</div>
<div class="Notification">
    <div class="Image">
        <img src="img/notificacion.png" alt="">
    </div>
    <div class="Text">
        <span>Una vez recibas el mensaje</span> con el código de retiro tienes hasta <span>3 días</span> para retirar tu paquete
    </div>
</div>
<div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
    <div class="BannerSobresalienteContainer ContentContainer MaxWidth">
        <div class="Title">
            <img src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" alt="">
        </div>
        <div class="Description">
            <div class="Text">
                Registrate y realiza tu compra ya!
            </div>
            <a ui-sref="registro">
                <div class="Button WithBackground">REGISTRARME</div>
            </a>
        </div>
        <img src="img/foto-Banner_1.png" style="width: auto">
    </div>
</div>
<div class="AlwaysClose Content">
    <div class="MainTitle">
        Siempre cerca
    </div>
    <div class="Description">
        <div class="Text">
            Regístrate y elige el <span>BOXIT</span> más cercano a tu casa u oficina
        </div>
        <a ui-sref="registro">
            <div class="Button WithBackground">CONSIGUE EL BOXIT MÁS CERCANO</div>
        </a>
    </div>
</div>
<div class="BestStores MaxWidth">
    <div class="MainTitle">
        Comprar online nunca había sido tan fácil
    </div>
    <div class="Description">
        <div class="Text">
            Regístrate y elige el <span>BOXIT</span> más cercano a tu casa u oficina
        </div>
    </div>
    <div class="Stores Rotator" autoplay>
        <div class="ContainerStore">
            <div class="Store">
                <img src="img/logo-amazon.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-walmart.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-bestbuy.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-target.png" alt="Amazon" title="Amazon">
            </div>
        </div>
        <div class="ContainerStore">
            <div class="Store">
                <img src="img/logo-amazon.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-target.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-bestbuy.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-walmart.png" alt="Amazon" title="Amazon">
            </div>
        </div>
        <div class="ContainerStore">
            <div class="Store">
                <img src="img/logo-amazon.png" alt="Amazon" title="Amazon">
            </div>

            <div class="Store">
                <img src="img/logo-target.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-walmart.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-bestbuy.png" alt="Amazon" title="Amazon">
            </div>
        </div>
        <div class="ContainerStore">
            <div class="Store">
                <img src="img/logo-target.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-walmart.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-bestbuy.png" alt="Amazon" title="Amazon">
            </div>
            <div class="Store">
                <img src="img/logo-amazon.png" alt="Amazon" title="Amazon">
            </div>
        </div>
        <!--<div class="Store">
                <img src="img/logo-amazon.png" alt="Amazon" title="Amazon">
        </div>
        <div class="Store">
                <img src="img/logo-walmart.png" alt="Amazon" title="Amazon">
        </div>
        <div class="Store">
                <img src="img/logo-bestbuy.png" alt="Amazon" title="Amazon">
        </div>
        <div class="Store">
                <img src="img/logo-target.png" alt="Amazon" title="Amazon">
        </div>-->
        <div class="BannerSelecters">
            <div class="Banner"></div>
            <div class="Banner"></div>
            <div class="Banner"></div>
            <div class="Banner"></div>
        </div>
    </div>
</div>
<div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
    <div class="BannerSobresalienteContainer ContentContainer MaxWidth">
        <div class="Title">
         
        </div>
        <img src="img/foto-Banner_2.png" style="width: auto">
    </div>
</div>
<script src="../js/js.js" type="text/javascript">
    
    banner();
</script>