<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4"> 
        <h3>Resumen de sus paquetes:</h3> 
        <hr>
        <span>Paquetes en Miami: {{miami}}</span>
        <br/>
        <span>Paquetes en Panama:  {{panama}}</span>
        <br/>
        <span>Paquetes en el Boxit: {{boxit}}</span>
        <br/>
        <span>Paquetes entregados: {{entregado}}</span>
        <br/>
        <span>Total de paquetes : {{total}}</span>
        <br/>
    </div>

    <div class="col-sm-4"> 
        <h3>Direccion Miami</h3>
        <hr>
        <span>NOMBRE : </span>
        <span>{{nombre}}</span>
        <br>
        <span>APELLIDO :</span>
        <span>{{apellido}}</span>
        <br>
        <span>ADDRESS 1:</span>
        <span> {{address1}}</span>
        <br>
        <span>ADDRESS 2:</span>
        <span> {{address2}}</span>
        <br>
        <span>CITY</span>
        <span>{{city}}</span>
        <br>
        <span>STATE / PROVINCIA / REGION: </span>
        <span>{{state}}</span>
        <br>
        <span>ZIP CODE:</span>
        <span>{{zip}}</span>
        <br>
        <span>COUNTRY:</span>
        <span>{{country}}</span>
        <br>
        <span>TEL</span>
        <span>{{tel}}</span>
        <br>
        <input checked type="checkbox"> 
        <span>
            No delivering on weekends
        </span>
    </div>

</div>