<link href="../css/userStyle.css" rel="stylesheet" type="text/css"/>
<div style="margin-bottom: 10%" class="row">

    <div class="col-sm-6">
        <img src="../img/Inicio-Area-de-usuario.png" alt=""/>        
    </div>
    <div    class="col-sm-6 fondo" > 
        <h3 class="customLabel">Resumen de sus paquetes:</h3> 
        <hr>
        <div class="row">
            <div class="col-sm-5">
                <span class="pull-right">Paquetes en Miami: {{miami}} </span> 
                <br/>
                <span class="pull-right">Paquetes en Panama: {{panama}}</span>
                <br/>
                <span class="pull-right">Paquetes en el Boxit: {{boxit}}</span>
                <br/>
                <span class="pull-right">Paquetes entregados: {{entregado}}</span>
                <br/>
                <span class="pull-right">Total de paquetes: {{total}}</span>
                <br/>
            </div>
        </div>
        <!--    </div>-->
        <hr>
        <!--    <div class="col-sm-4"> -->
        <h3 class="customLabel">Direccion Miami</h3>
        <hr>
        <div class="row">
            <div class="col-sm-3 customLabel">
                <span class="pull-right">Nombre : </span>
            </div>
            <div class="col-sm-7 form-group">
                <input type="text" class="form-control" ng-disabled="true" ng-model="nombre">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 customLabel">
                <span class="pull-right">Apellido : </span>
            </div>
            <div class="col-sm-7 form-group">
                <input type="text" class="form-control" ng-disabled="true" ng-model="apellido">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 customLabel">
                <span class="pull-right">Address 1 : </span>
            </div>
            <div class="col-sm-7 form-group">
                <input type="text" class="form-control" ng-disabled="true" ng-model="address1">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 customLabel">
                <span class="pull-right">Address 2 : </span>
            </div>
            <div class="col-sm-7 form-group">
                <input type="text" class="form-control" ng-disabled="true" ng-model="address2">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 customLabel">
                <span class="pull-right">City : </span>
            </div>
            <div class="col-sm-7 form-group">
                <input type="text" class="form-control" ng-disabled="true" ng-model="city">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 customLabel">
                <span class="pull-right">State : </span>
            </div>
            <div class="col-sm-7 form-group">
                <input type="text" class="form-control" ng-disabled="true" ng-model="state">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 customLabel">
                <span class="pull-right">Zip : </span>
            </div>
            <div class="col-sm-7 form-group">
                <input type="text" class="form-control" ng-disabled="true" ng-model="zip">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 customLabel">
                <span class="pull-right">Country : </span>
            </div>
            <div class="col-sm-7 form-group">
                <input type="text" class="form-control" ng-disabled="true" ng-model="country">
            </div>

            <div class="row">
                <div class="col-sm-3 customLabel">
                    <span class="pull-right">Tel : </span>
                </div>
                <div class="col-sm-7 form-group">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="tel">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    <input checked ng-disabled="true" type="checkbox"> 
                    <span>
                        No delivering on weekends
                    </span>
                </div>
            </div>

        </div>

    </div>