<div class="MainBanner Gray Content">
    <div class="MainBannerContainer ContentContainer MaxWidth">
        <div class="MainTitle">
            Gane tiempo ahorre dinero
        </div>
        <div class="Description">
            <div class="Text">
                <span>Boxit</span> es una manera real, rentable y práctica de hacer sus envíos de compras online a precios realmente competitivos en el mercado.
            </div>
        </div>
        <div class="Features">
            <div class="Feature Blue">
                <div class="Title">Documentos</div>
                <div class="Image">
                    <img src="img/documento.gif" alt="">
                </div>
                <div class="Description">
                    <div class="SinceByDay">
                        Desde
                    </div>
                    $3
                    <div class="SinceByDay">
                        por día*
                    </div>
                </div>
                <div class="Footer">
                    <div class="Text">
                        *Ciertas restricciones aplican
                    </div>
                </div>
            </div>
            <div class="Feature Blue">
                <div class="Title">Regalos</div>
                <div class="Image">
                    <img src="img/StepsRetira.gif" alt="">
                </div>
                <div class="Description">
                    <div class="SinceByDay">
                        Desde
                    </div>
                    $2
                    <div class="SinceByDay">
                        por día*
                    </div>
                </div>
                <div class="Footer">
                    <div class="Text">
                        *Ciertas restricciones aplican
                    </div>
                </div>
            </div>
            <div class="Feature Blue">
                <div class="Title">Paquetes</div>
                <div class="Image">
                    <img src="img/PaqueteEnviar.gif" alt="">
                </div>
                <div class="Description">
                    <div class="SinceByDay">
                        Desde
                    </div>
                    $2
                    <div class="SinceByDay">
                        por libra*
                    </div>
                </div>
                <div class="Footer">
                    <div class="Text">
                        *Aplica sólo envíos a Panamá
                    </div>
                </div>
            </div>
            <div class="Feature Blue">
                <div class="Title">Servicios</div>
                <div class="Image">
                    <img src="img/pago_de_servicios.gif" alt="">
                </div>
                <div class="Description">
                    <div class="SinceByDay">
                        Televisión por cable, transporte, seguridad, educación, seguros, internet entre otros*
                    </div>
                </div>
                <div class="Footer">
                    <div class="Text">
                        *Muy pronto
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="PageDescription">
    <div class="MainDescription MaxWidth">
        <div class="Left">
            <div class="Title">Precios</div>
        </div>
        <div class="Right">
            <div class="Groups">
                <div class="Group">
                    <div class="Title">Retiro de paquetes</div>
                    <div class="Image">
                        <img src="img/precios_1.png" alt="">
                    </div>
                    <br/>
                    <br/>
                    
                    <table class="table table-bordered">
                        <tr class="headerPrecio">
                            <td style="width: 50%" class="text-center">Peso</td>
                            <td style="width: 30%;text-align: center !important;" class="text-center">Precio por Libra/Kg</td>
                            <td style="width: 20%" class="text-center">Boxit Pack</td>
                        </tr>
                        <tr class="rowPrecio text-center"  ng-repeat="tarifa in tarifas">
                            <td> {{tarifa.attributes.Peso}} </td>
                            <td> ${{tarifa.attributes.Precio}} </td>
                            <td> ${{tarifa.attributes.BoxitPack}} </td>
                          
                        </tr>
<!--                        <tr class="rowInfo">
                            <td style="width:100%;border-top: 1px solid #A82773 !important;" colspan="3">El precio por libra en EL PRIMER RENGLON es de $2 dólares. *Promoción válida por tiempo limitado.
                                A partir de la libra 51+ en adelante el costro por libra es de $3.75. Estos precios no incluyen ITBMS
                                ni cargos aduanales.-</td>
                        </tr>
                        <tr class="rowInfo">
                            <td style="width:100%;border-top: 1px solid #A82773 !important;" colspan="3">EJEMPLO: Si su compra tiene un peso de 7 libras (3.175 kg) usted pagaria un total de 32.50
                                incluyendo 1.00 de Boxit Pack (seguro por paquete)</td>
                        </tr>-->
                    </table>
                    
                    
                    <br/>
                    <table>
                        <tr class="rowInfo">
                            <td  colspan="3">El precio por libra en EL PRIMER RENGLON es de $2 dólares. *Promoción válida por tiempo limitado.
                                A partir de la libra 51+ en adelante el costro por libra es de $3.75. Estos precios no incluyen ITBMS
                                ni cargos aduanales.-</td>
                        </tr>
                        <tr class="rowInfo">
                            <td  colspan="3">EJEMPLO: Si su compra tiene un peso de 7 libras (3.175 kg) usted pagaria un total de 32.50
                                incluyendo 1.00 de Boxit Pack (seguro por paquete)</td>
                        </tr>
                    </table>
                 


                </div>
                <div class="Group">
                    <div class="Title">Documentos</div>
                    <div class="Image">
                        <img src="img/precios_2.png" alt="">
                    </div>
                    <div class="TableWithoutHeader">
                        <table>
                            <tr>
                                <td>El costo de envío será cancelado por quien envíe el paquete y tendrá un costo de</td>
                                <td>
                                    <span>
                                        $3 dólares
                                    </span>
                                    <div>
                                        por paquete
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="Group">
                    <div class="Title">Regalos sorpresa</div>
                    <div class="Image">
                        <img src="img/precios_3.png" alt="">
                    </div>
                    <div class="TableWithoutHeader">
                        <table>
                            <tr>
                                <td>El costo de envío será cancelado por quien envíe el paquete y tendrá un costo de</td>
                                <td>
                                    <span>
                                        $2 dólares
                                    </span>
                                    <div>
                                        por paquete
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="Group">
                    <div class="Title">Pago de servicios básicos</div>
                    <div class="Image">
                        <img src="img/precios_4.png" alt="">
                    </div>
                    <div class="TableWithoutHeader">
                        <table>
                            <tr>
                                <td>
                                    Muy pronto podrás disfrutar de este beneficio para cancelar facturas de televisión por cable, transporte, seguridad, educación, seguros, internet entre otros.
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
    <div class="BannerSobresalienteContainer ContentContainer MaxWidth">
        <div class="Title">
            <img src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" alt="">
        </div>
        <div class="Description">
            <div class="Text">
                Registrate y realiza tu compra ya!
            </div>
            <a ui-sref="registro">
                <div class="Button WithBackground">REGISTRARME</div>
            </a>
        </div>
        <img src="img/foto-Banner_2_blue.png" style="">
    </div>
</div>
<div class="AlwaysClose Content">
    <div class="MainTitle">
        Siempre cerca
    </div>
    <div class="Description">
        <div class="Text">
            Regístrate y elige el <span>BOXIT</span> más cercano a tu casa u oficina
        </div>
        <a ui-sref="registro">
            <div class="Button WithBackground">CONSIGUE EL BOXIT MÁS CERCANO</div>
        </a>
    </div>
</div>
<div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
    <div class="BannerSobresalienteContainer ContentContainer MaxWidth">
        <div class="Title">
            SOMOS LA <span>EMPRESA LÍDER</span> EN PANAMÁ DE COMPRAS ONLINE
        </div>
        <img src="img/foto-Banner_1_morado.png">
    </div>
</div>