
<div class="BarHeader Content">
    <div class="BarHeaderContainer ContentContainer MaxWidth">
        <div class="Text">
            <span>Recuperar contraseña.</span>
            Por favor completa los siguientes campos para restablecer tu contraseña
        </div>
        <img src="img/image_headerbar_1.png" alt="">
    </div>
</div>
<div class="ContentContainer MaxWidthData">
    <div class="Formulary">
        <div class="FieldContent">
            <span>Contraseña</span>
        </div>
        <input type="password" class="form-control" ng-model="password">

        <div class="FieldContent">
            <span> Confirmar Contraseña</span>
        </div>
        <input type="password" class="form-control" ng-model="confirmPassword">
        <div class="FieldContent">
        
        <div class="Submit">
            <button ng-click="reset()" class="Button WithBackground">Confirmar</button>
        </div>
            
    </div>
</div>
</div>