<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="container ">
    <div class="row pre-scrollable">
        <div class="col-md-8">

            <h3> Términos y condiciones Boxit, S.A.</h3>

            <p>  Bienvenidos a Boxit, estamos muy contentos que seas parte de nuestra familia de felices

                compradores por internet y vivas la experiencia Boxit, cuyo lema “Delivering Happiness” es el

                compromiso que tenemos con nuestros usuarios. </p>


            <p> Boxit ofrece un conjunto de servicios que facilitaran tu proceso de compra en línea, pago de

                servicios básicos, entrega de documentos, envío de regalos, y servicios a empresas en Panamá.

                Uso de sitio web MYBOXIT.COM
            </p>

            <h4>Cuenta de usuario</h4>
            <p>
                Cada usuario es responsable de mantener su información de acceso a la cuenta de forma

                confidencial y de restringir el acceso a la cuenta, y aceptas la responsabilidad de cualquier

                actividad que ocurra con tus credenciales (usuario y clave).</p>

            <p>

                Boxit no le vende a niños, Boxit le vende servicio a personas adultas (compras en línea con tarjeta

                de crédito, uso de la dirección postal para recibir paquetes, pagos de servicios, envío de

                documentos, envío de regalos) si eres menor de edad, debes usar los servicios de Boxit bajo la

                supervisión de un adulto, cuyas transacciones estarán a nombre del adulto responsable.
            </p>

            <h4>Comunicación Electrónica</h4>

            <p>
                Boxit se comunica con usted.
            </p>

            <p>
                Usted acepta que toda la comunicación que Boxit le envíe por correo electrónico, medios

                impresos, mensajes SMS, y cualquier tipo de comunicación que Boxit considere necesaria, está

                dentro de los parámetros legales y usted acepta que puede recibir dicha comunicación.
            </p>


            <h4>Normativa Legal</h4>
            <p>
                Boxit es una empresa que cumple con todas las disposiciones legales y leyes aplicables de Estados

                Unidos, Panamá y todos los demás países de destino.
            </p>
            <p>
                Para poder cumplir con todas estas normativas, usted acepta brindarle a Boxit toda la información

                pertinente, legal y precisa (Nombre completo, número de teléfono, correo electrónico, facturas de

                compras, información de pago, certificado de origen de productos) cuando sea necesario.
            </p>
            <h4>ORDENES</h4>

            <p>
                Boxit procesa órdenes bajo nuestro servicio WEB BoxitStore.
            </p>
            <p>
                Las ordenes tienen una duración de 24 horas para poder recibir el pago y efectuar la compra, las

                cuales al cabo de este tiempo serán canceladas de forma automática, durante este transcurso

                Boxit le estará enviando notificaciones de recordatorio para pagar el monto de la orden para

                poder procesar el pago.
            </p>
            <p>
                Boxit se reserva el derecho de cancelar cualquier orden a su discreción

                Cualquier orden que Boxit cancele que ya el cliente ha pagado, será reembolsada en su totalidad.

                Las órdenes canceladas serán notificadas por email.
            </p>
            <p>
                Boxit cancelara cualquier orden cuyo producto este dentro de la lista de productos prohibidos ver 
                Lista Aqui
            </p>
            <p>
                Boxit se reserva el derecho de ejecutar las siguientes acciones con las órdenes:
            </p>
            <ul>
                <li>Descontinuar o limitar la disponibilidad de cualquier producto</li>

                <li> Evitar que usuarios hagan o completen alguna transacción </li>

                <li> Rehusarse a facilitar cualquier producto o servicio a algún usuario</li>

                <li> Si Boxit compra algo cotizado a un usuario a un menor precio, la diferencia será para Boxit</li>
            </ul>
            <p>
                Para que Boxit reconozca un pedido, el usuario debe haber creado la orden, sin embargo no

                significa que dicha orden haya sido aceptada o comprada, o que el precio mostrado haya sido

                confirmado o la disponibilidad confirmada.
            </p>
            <p>

                Boxit hace un esfuerzo por mostrar los productos correctamente en la WEB.
            </p>


            <p>

                A pesar de estos esfuerzos, algunos productos pueden mostrarse con errores de descripción o

                precio, podrían estar no disponible, o se puede dar el caso que se presenten atrasos en

                actualizaciones de productos.
            </p>

            <p>

                Por esta razón, no garantizamos la integridad o veracidad de la información, incluyendo precios,

                imágenes de los productos, especificaciones, disponibilidad y servicios.  

                Boxit se reserva el derecho de cambiar o actualizar la información y corregir errores u omisiones

                en cualquier momento, sin previo aviso.
            </p>

            <p>
                Boxit, no se hace responsable por selección equivocada de talla, color, descripción de cualquier

                producto seleccionado, esto es responsabilidad del cliente.
            </p>

            <h4>Procesamiento de entregas desde Miami</h4>
            <p>

                Cada número de Tracking (Numero de Guía) representa un paquete individual y será cobrado de

                acuerdo a las tarifas de Boxit.
            </p>
            <p>
                Boxit se reserva el derecho de rechazar paquetes que considere sospechosos (de acuerdo pero no

                limitado a la lista de productos prohibidos), que hayan sido manipulados, abiertos, dañados antes

                Boxit no transporta Droga, armas, replicas ni ningún tipo de artículos que estén dentro de la lista

                de artículos prohibidos.
            </p>
            <p>
                Boxit se reserva el derecho de abrir los paquetes para su respectiva inspección y verificación de

                acuerdo a las normativas legales internacionales de transporte bajo las leyes de Los Estados

                Unidos de América, Panamá y otros países de destino.
            </p>
            <p>

                Los envíos podrían ser retenidos en la dirección de Miami por hasta sesenta (60) días debido a,

                pero no limitado a preparación adicional para el proceso de envío, o recepción de envíos con

                errores en el nombre, dirección y/o solicitud del consumidor.
            </p>
            <p>
                Boxit se reserva el derecho de destruir o disponer, a su propia discreción, de cualquier envío que

                no se haya reclamado o que haya estado almacenado por más de sesenta (60) días en la

                dirección de Miami, o la facilidad de Boxit en el país destino.
            </p>

            <h4>Recargo por retiro tardío de paquete</h4>
            <p>
                Boxit retirara los paquetes luego de 3 días en el locker y los llevara a nuestras bodegas en Panamá,

                el cual tendrá un costo de recargo de UDS 1.00 por día.

                Boxit retendrá el paquete hasta que el costo de recargo sea igual o mayor al valor declarado del

                artículo, en ese caso Boxit se reserva el derecho de disponer del producto.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-4 text-center">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="acceptTerms" ng-change="checkboxChange()"> He leido y acepto los términos y condiciones 
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-2 text-center">
            <a class="btn btn-default userAreaButton" role="button" ng-click="accept()">ACEPTAR</a>
        </div>
    </div>
    
</div>