<div class="row">
    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a ui-sref="userMenu.inicio">Inicio</a></li>
            <li role="presentation"><a ui-sref="userMenu.editarPerfil">Editar Perfil</a></li>
            <li role="presentation"><a>Item #3</a></li>
            <li role="presentation"><a>Item #4</a></li>
            <li role="presentation"><a>Item #5</a></li>
            <li role="presentation"><a>Item #6</a></li>
            <li role="presentation"><a>Item #7</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div ui-view></div>
    </div>
</div>