<!DOCTYPE html>
<html ng-app="boxit">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Boxit</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/Style.css">
		<link rel="stylesheet" href="css/responsive.css">
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script src="js/Rotators.js"></script>
		<script src="js/js.js"></script>
		<script src="js/dependencias/angular.js"></script>
		<script src="js/app/app.js"></script>
		<script src="js/controllers/loginController.js"></script>
	</head>
	<body ng-controller="loginController">
		<header class="MaxWidth">
			<div class="Language">
				<div class="SelectLanguage">
					<div class="Text">Español (ESP)</div>
					<div class="Arrow"></div>
					<div class="Languages">
						<div class="Language Selected" id="ESP" >Español (ESP)</div>
						<div class="Language" id="ING">Ingles (ING)</div>
						<div class="Language" id="FRA">Frances (FRA)</div>
					</div>
				</div>
			</div>
			<div class="Logo">
				<a href="./index.html">
					<img src="img/logo-boxit_Menu.png" alt="Boxit" title="Boxit">
				</a>
			</div>
			<div class="Menu">
				<ul>
					<li>
						<a href="#">SERVICIOS</a>
						<div class="SubMenu">
							<div class="SubMenuContainer">
								<div class="Arrow">
								<div></div>
							</div>
							<ul>
								<li><a href="Nosotros.html">¿Qué es Boxit?</a></li>
								<li><a href="Retiro.html">Retiro de paquete</a></li>
								<li><a href="Devolucion.html">Devolución de compra</a></li>
								<li><a href="Enviar.html">Enviar un paquete</a></li>
								<li><a href="Pagoservicio.html">Paga tus servicios</a></li>
							</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#">PRECIOS</a>
					</li>
					<li>
						<a href="FAQ.html">PREGUNTAS FRECUENTES</a>
					</li>
					<li>
						<a href="#">MY BOXIT STORE AMAZON</a>
					</li>
				</ul>
			</div>
			<div class="UserAccountOptions">
				<a href="Iniciarsesion.html">
					<div class="Button">INICIA SESIÓN</div>	
				</a>
				<a href="Registro.html">
					<div class="Button WithBackground">REGÍSTRATE</div>
				</a>
			</div>
		</header>
		<div class="Mobile">
            <div class="Top">
                <div class="Menu">
                    <img src="img/IconMenuBurger.svg" alt="Cart" title="Cart">
                </div>
                <div class="Organization">
                    <a href=".\">
                        <img src="img/logo-boxit_XIT_blanco.png" alt="Boxit" title="Boxit">
                    </a>
                </div>
            </div>
        </div>
				<div class="MobileMenu">
            <div class="Menu">
                <div class="Header">
                    <div class="Close">X</div>
                </div>
                <div class="Groups">
                    <div class="Group">
                        <div class="Header">
                            SERVICIOS
                        </div>
                        <div class="Options">
                            <div class="Option">
                                <a href="Nosotros.html">¿Qué es Boxit?</a>
                            </div>
                            <div class="Option">
                                <a href="Retiro.html">Retiro de paquete</a>
                            </div>
                            <div class="Option">
                                <a href="Devolucion.html">Devolución de compra</a>
                            </div>
                            <div class="Option">
                                <a href="Enviar.html">Enviar un paquete</a>
                            </div>
                            <div class="Option">
                                <a href="Pagoservicio.html">Paga tus servicios</a>
                            </div>
                        </div>
                    </div>
                     <div class="Group">
                        <div class="Header">
                            <a href="#">PRECIOS</a>
                        </div>
                    </div>
                    <div class="Group">
                        <div class="Header">
                            <a href="FAQ.html">PREGUNTAS FRECUENTES</a>
                        </div>
                    </div>
                    <div class="Group">
                        <div class="Header">
                            <a href="#">MY BOXIT STORE AMAZON</a>
                        </div>
                    </div>
                    <div class="Group">
                        <div class="Header">
                            DATOS DE USUARIO
                        </div>
                        <div class="Options">
                            <div class="Option">
                                <a href="Iniciarsesion.html">Iniciar sesión</a>
                            </div>
                            <div class="Option">
                                <a href="Registro.html">Registrarse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Overlay"></div>
        </div>
		<div class="BarHeader Content">
			<div class="BarHeaderContainer ContentContainer MaxWidth">
				<div class="Text">
					<span>Inicio de sesión.</span>
					Coloca tu usuario y contraseña para ingresar
				</div>
				<img src="img/image_headerbar_1.png" alt="">
			</div>
		</div>
		<div class="ContentContainer MaxWidthData">
			<div class="Formulary">
					<div class="FieldContent">
						<span>Usuario</span>
						<input type="text" class="NormalWidth" ng-model="username">
					</div>
					<div class="FieldContent">
						<span>Contraseña</span>
						<input type="password" class="NormalWidth" ng-model="password">
						<input type="checkbox"><span>Recordarme</span>
					</div>
					<div class="Submit">
						<button ng-click="Login()" class="Button WithBackground">Iniciar sesión</button>
					</div>
					<div class="Links">
						<div class="Link">
							<a href="#">
								¿Olvidaste tu contraseña?
							</a>
						</div>
						<div class="Link">
							<a href="#">
								¿No estas registrado?
							</a>
						</div>
					</div>
			</div>
		</div>
		<footer class="Content">
			<div class="ContentContainer MaxWidth">
				<div class="Copyright">
					© 2016 Boxit | Todos los derechos reservados
				</div>
			</div>
		</footer>
	</body>
</html>